<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_page.css') }}">
</head>

<body>
    <nav>
        <span style="margin-right: 200px;">Admin Dashboard</span>
        <a href="{{ url_for('admin_stats') }}">Statistics</a>
        <a href="/">Logout</a>
    </nav>


    <!-- Table for Creator Users -->
    <h2>Creator Users</h2>
    <table class="table" style="color: white;">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Total Songs Uploaded</th>
                <th>Total Playlists Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for creator_user in creator_users %}
            <tr data-href="{{ url_for('creator_details', user_id=creator_user.UID) }}">
                <td>{{ creator_user.UID }}</td>
                <td>{{ creator_user.Full_name }}</td>
                <td>{{ creator_user.email }}</td>
                <td>{{ creator_user.password }}</td>
                <td>{{ creator_user.total_songs_uploaded }}</td>
                <td>{{ creator_user.total_playlists_created }}</td>
                <td>
                    <form method="post" action="{{ url_for('flag_user', user_id=creator_user.UID) }}">
                        <button class="btn btn-warning" type="submit">
                            {% if creator_user.is_flagged %}Whitelist User{% else %}Blacklist User{% endif %}
                        </button>
                    </form>
                    <form method="post" action="{{ url_for('delete_user', user_id=creator_user.UID) }}">
                        <button class="btn btn-danger" type="submit">Delete User</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Table for Gen Users -->
    <h2>Gen Users</h2>
    <table class="table" style="color: white;">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Total Playlists Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for gen_user in gen_users %}
            <tr data-href="{{ url_for('creator_details', user_id=gen_user.UID) }}">
                <td>{{ gen_user.UID }}</td>
                <td>{{ gen_user.Full_name }}</td>
                <td>{{ gen_user.email }}</td>
                <td>{{ gen_user.password }}</td>
                <td>{{ gen_user.total_playlists_created }}</td>
                <td>
                    <form method="post" action="{{ url_for('flag_user', user_id=gen_user.UID) }}">
                        <button class="btn btn-warning" type="submit">
                            {% if gen_user.is_flagged %}Whitelist User{% else %}Blacklist User{% endif %}
                        </button>
                    </form>
                    <form method="post" action="{{ url_for('delete_user', user_id=gen_user.UID) }}">
                        <button class="btn btn-danger" type="submit">Delete User</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>

</body>

</html>