<!DOCTYPE html>
<html>

<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creatordab.css') }}">
</head>

<body>
    <nav>
        <span style="margin-right: 200px;">Welcome, {{ user_name }}</span>
        <a href="{{ url_for('loghome') }}">Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('csong') }}"> Edit Songs </a>
        <a href="{{ url_for('playlist_edit')}}"> Edit Playlists </a>
        <a href="{{ url_for('user_statistics') }}">User Statistics</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('home') }}">Logout</a>
    </nav>

    <section style="background-color: rgba(59, 40, 186, 0.2);">
        <div class="container py-5">
            <div class="row justify-content-center">
                <h1 style="align-content:flex-start; color: white;">All Songs</h1>
    
                {% if psongs %}
                <div class="col-12">
                    <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                        <div class="card-body">
                            <div class="row">
                                {% for psong in psongs %}
                                <div class="col-md-4 mb-4">
                                    <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                                        <img src="{{ url_for('static', filename=psong.S_I) }}" class="card-img-top"
                                            alt="{{ psong.S_name }}" />
                                        <div class="card-body">
                                            <div class="text-center">
                                                <h5 class="card-title" style="color: white;">Song : {{ psong.S_name }}</h5>
                                                <p class="text-muted mb-4"> Genre : {{ psong.Genre }}</p>
                                                <p class="text-muted mb-4"> {{ psong.Artist}}</p>
                                                <p class="text-muted mb-4">Rating: {{ psong.Average_Rating if psong.Average_Rating is defined else 'No Ratings' }}</p>
                                                <form action="/csong" method="post">
                                                    <input type="hidden" name="song_id" value="{{ psong.SID }}">
                                                    <button type="submit" name="action" value="show"
                                                        class="btn btn-outline-primary">Play</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section style="background-color: rgba(59, 40, 186, 0.2);">
        <div class="container py-5">
            <div class="row justify-content-center">
                <h1 style="align-content:flex-start; color: white;">Playlist Songs</h1>

                {% for playlist in playlists %}
                <div class="col-md-8 col-lg-6 col-xl-12 mb-4">
                    <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                        <div class="card-body">
                            <h2 class="card-title" style="color: white;">{{ playlist.P_name }}</h2>
                            {% for song in playlist.songs %}
                            <div class="col-md-8 col-lg-6 col-xl-4">
                                <div class="card text-white" style="background-color: rgba(0, 0, 0, 0.7);">
                                    <img src="{{ url_for('static', filename=song.S_I) }}" class="card-img-top"
                                        alt="{{ song.S_name }}" />
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h5 class="card-title" style="color: white;">Song : {{ song.S_name }}</h5>
                                            <p class="text-muted mb-4"> Genre : {{ song.Genre }}</p>
                                            <p class="text-muted mb-4"> {{ song.Artist}}</p>
                                            <p class="text-muted mb-4">Rating: {{ song.Average_Rating if song.Average_Rating is defined else 'No Ratings' }}</p>
                                            <form action="/
                                            <form action="/csong" method="post">
                                                <input type="hidden" name="song_id" value="{{ song.SID }}">
                                                <button type="submit" name="action" value="show"
                                                    class="btn btn-outline-primary">Play</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <div class="contacts">
        <h2>Contacts</h2>
        <p>Contact Information</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
