<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="description-container">
        <h2 class="description-title">Welcome to our Music Player App!</h2>
        <p class="description">Discover and listen to your favorite tunes. Dive into a world of music from
            independent artists around the globe. Sign up now to start your musical journey!</p>
    </div>

    <div class="login-container">
        <div class="flash-messages">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-message-container">
                {% for message in messages %}
                <div class="flash-message">
                    <span>{{ message }}</span>
                    <button type="button" class="flash-message-close">&times;</button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>

        <div class="login-header">
            <h2>Login to Your Account</h2>
        </div>
        <div class="login">
            <form action="/login" method="post" class="login-form">
                <input type="email" name="email" placeholder="Email" required autocomplete="off">
                <input type="password" name="pswd" placeholder="Password" required>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
        <div class="register-link">
            <a href="{{ url_for('signup') }}">Don't have an account? Register/Signup here</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Close flash message on click
        document.addEventListener('DOMContentLoaded', function () {
            const closeButtons = document.querySelectorAll('.flash-message-close');
            closeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    button.parentElement.style.display = 'none';
                });
            });
        });
    </script>
</body>

</html>
